@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #585858;
}

.container {
  width: 1250px;
  padding: 0px 15px;
  margin: 0px auto;
}

.main-block {
  background-color: #f6f2f2;
  padding: 20px 0px 105px;
}

.nav {
  margin-bottom: 105px;
}

.menu {
  height: 90px;
  background-color: #313030;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu-list li {
  padding: 37px 30px;
}
.menu-list li:hover {
  background-color: red;
  cursor: pointer;
}
.menu-list__link {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.hero-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-header {
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
}
.hero-subtitle {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 60px;
  padding-right: 100px;
}
.hero-button {
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  background-color: red;
  border-radius: 10px;
  width: 255px;
  height: 55px;
}
.hero-image {
  width: 530px;
  height: 370px;
  background-color: #c4c0b1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 30px 10px #c4c0b1;
}

.know-block {
  display: flex;
  justify-content: space-between;
  padding: 110px 0px 60px;
}

.know-text {
  padding-right: 125px;
  flex-basis: 100%;
}
.know-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  max-width: 505px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.know-description {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 60px;
  max-width: 505px;
}
.know-button {
  font-size: 19px;
  font-weight: 700;
  color: red;
  background-color: #fff;
  border: 2px solid red;
  border-radius: 10px;
  width: 255px;
  height: 55px;
}
.know-term {
  flex-shrink: 1.7;
}
.know-wrap {
  width: 45%;
  margin-bottom: 50px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrap-icon {
  margin-bottom: 30px;
}
.wrap-subtitle {
  display: block;
  font-size: 26px;
  margin-bottom: 30px;
}
.wrap-text {
  font-size: 16px;
  line-height: 25px;
}

.products-block {
  padding: 105px 0px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  background-color: #f6f2f2;
}
.products-header {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.products-subtitle {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  max-width: 500px;
  margin-bottom: 40px;
}
.products-row {
  margin-bottom: 90px;
  border-top: 2px solid #ff0303;
  width: 130px;
}
.products-menu {
  margin-bottom: 65px;
  font-size: 0;
}
.products-link {
  display: inline-block;
  margin: 0px 30px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #585858;
}
.products-link:first-child {
  margin-left: 0;
}
.products-link:last-child {
  margin-right: 0;
}
.products-image {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.products-img {
  background-color: #c4c0b1;
  box-shadow: 1px 1px 10px #c4c0b1;
  width: 290px;
  height: 290px;
  margin-bottom: 20px;
}