.know-block {
   display: flex;
   justify-content: space-between;

   padding: 110px 0px 60px;
}

.know {
   &-text {
      padding-right: 125px;
      flex-basis: 100%;
   }
   &-header {
      font-weight: 700;
      font-size: 40px;
      line-height: 55px;

      max-width: 505px;

      text-transform: uppercase;

      margin-bottom: 60px;
   }

   &-description {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 60px;
      max-width: 505px;
   }

   &-button {
      font-size: 19px;
      font-weight: 700;
      color: red;
      background-color: #fff;
      border: 2px solid red;
      border-radius: 10px;
      width: 255px;
      height: 55px;
   }

   &-term {
      flex-shrink: 1.7;
   }

   &-wrap {
      width: 45%;
      margin-bottom: 50px;
   }
}

.wrap {
   display: flex;
   justify-content: space-between;
   align-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;

   &-icon {
      margin-bottom: 30px;
   }

   &-subtitle {
      display: block;
      font-size: 26px;
      margin-bottom: 30px;
   }

   &-text {
      font-size: 16px;
      line-height: 25px;
   }
}

