.nav {
   margin-bottom: 105px;
}

.menu {
   height: 90px;
   background-color: #313030;

   display: flex;
   justify-content: center;
   align-items: center;

   &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      & li {
         padding: 37px 30px;

         &:hover {
            background-color: red;
            cursor: pointer;
         }
      }

      &__link {
         font-size: 16px;
         text-transform: uppercase;
         color: #fff;
      }
   }
}