.products-block {
   padding: 105px 0px 120px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.products {
   background-color: #f6f2f2;
   &-header {
      font-size: 42px;
      font-weight: 700;
      text-transform: uppercase;

      margin-bottom: 40px;
   }

   &-subtitle {
      font-size: 16px;
      line-height: 25px;
      text-align: center;

      max-width: 500px;

      margin-bottom: 40px;
   }

   &-row {
      margin-bottom: 90px;
      border-top: 2px solid #ff0303;
      width: 130px;
   }

   &-menu {
      margin-bottom: 65px;
      font-size: 0;
   }
   
   &-link {
      display: inline-block;
      margin: 0px 30px;

      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      color: #585858;

      &:first-child {
         margin-left: 0;
      }

      &:last-child {
         margin-right: 0;
      }
   }

   &-image {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-direction: row;
      flex-wrap: wrap;
   }

   &-img {
      background-color: #c4c0b1;

      box-shadow: 1px 1px 10px #c4c0b1;

      width: 290px;
      height: 290px;

      margin-bottom: 20px;
   }
}