body {
   font-family: "Open Sans";
   font-size: 14px;
}

.container {
   width: 1250px;
   padding: 0px 15px;
   margin: 0px auto;
}

.main-block {
   background-color: #f6f2f2;
   padding: 20px 0px 105px;
}